<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Sleek - Admin Dashboard Template</title>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Poppins:400,500,600,700|Roboto:400,500"
          rel="stylesheet"/>
    <link href="https://cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet"/>

    <!-- PLUGINS CSS STYLE -->
    <link href="../../static/assets/plugins/toaster/toastr.min.css" rel="stylesheet"/>
    <link href="../../static/assets/plugins/nprogress/nprogress.css" rel="stylesheet"/>
    <link href="../../static/assets/plugins/flag-icons/css/flag-icon.min.css" rel="stylesheet"/>
    <link href="../../static/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.css" rel="stylesheet"/>
    <link href="../../static/assets/plugins/ladda/ladda.min.css" rel="stylesheet"/>
    <link href="../../static/assets/plugins/select2/css/select2.min.css" rel="stylesheet"/>
    <link href="../../static/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet"/>

    <!-- SLEEK CSS -->
    <link id="sleek-css" rel="stylesheet" href="../../static/assets/css/sleek.css"/>


    <!-- FAVICON -->
    <link href="../../static/assets/img/favicon.png" rel="shortcut icon"/>

    <!--
      HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../../static/assets/plugins/nprogress/nprogress.js"></script>
    <script src="../../static/assets/d3.js" charset="utf-8"></script>
<!--    <script src="../../static/assets/d3.min.js" charset="utf-8"></script>-->
    <script src="../../static/assets/js/echarts.min.js"></script>
<!--    <script src="../../static/assets/js/echarts-gl.min.js"></script>-->


    <script src="../../static/assets/plugins/jquery/jquery.min.js"></script>
<!--    <script src="../../static/assets/widgets/code/jquery.calendar.js"></script>-->
<!--    <script src="../../static/assets/widgets/code/jquery.popup.js"></script>-->
<!--    <script src="../../static/assets/LYWutils_traffic_jam.js"></script>-->
    <!--    <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key=PUBBZ-ED365-YF4IE-QAFHX-EE6M2-UVFFI"></script>-->
<!--    <script src="http://d3js.org/d3.v5.js" charset="utf-8"></script>-->
    <script src="../../static/assets/js/lyw/sidebar.js"></script>
    <script src="../../static/assets/js/vue.min.js"></script>
    <script src="../../static/assets/js/elementui.js"></script>
    <!--    <script src="../../static/assets/css/elementui.css"></script>-->
    <link href="../../static/assets/css/elementui.css" rel="stylesheet"/>

</head>


<body class="sidebar-fixed sidebar-dark header-light header-fixed" id="body">
<script>
    NProgress.configure({showSpinner: false});
    NProgress.start();
</script>

<div class="mobile-sticky-body-overlay"></div>

<div class="wrapper">

    <!--
====================================
——— LEFT SIDEBAR WITH FOOTER
=====================================
-->


    <div class="page-wrapper" style="overflow: auto; width: 1600px; height: 100%">
        <!-- Header -->
        <header class="main-header " id="header">
            <nav class="navbar navbar-static-top navbar-expand-lg">
                <!-- Sidebar toggle button -->
                <button id="sidebar-toggler" class="sidebar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <!-- search form -->
                <div class="search-form d-none d-lg-inline-block">
                    <div class="input-group">
                        <button type="button" name="search" id="search-btn" class="btn btn-flat">
                            <i class="mdi mdi-magnify"></i>
                        </button>
                        <input type="text" name="query" id="search-input" class="form-control"
                               placeholder="'button', 'chart' etc." autofocus autocomplete="off"/>
                    </div>
                    <div id="search-results-container">
                        <ul id="search-results"></ul>
                    </div>
                </div>

                <div class="navbar-right ">
                    <ul class="nav navbar-nav">
                        <!-- Github Link Button -->
                        <li class="github-link mr-3">
                            <a class="btn btn-outline-secondary btn-sm"
                               href="https://github.com/tafcoder/sleek-dashboard"
                               target="_blank">
                                <span class="d-none d-md-inline-block mr-2">Source Code</span>
                                <i class="mdi mdi-github-circle"></i>
                            </a>

                        </li>
                        <li class="dropdown notifications-menu">
                            <button class="dropdown-toggle" data-toggle="dropdown">
                                <i class="mdi mdi-bell-outline"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">You have 5 notifications</li>
                                <li>
                                    <a href="#">
                                        <i class="mdi mdi-account-plus"></i> New user registered
                                        <span class=" font-size-12 d-inline-block float-right"><i
                                                class="mdi mdi-clock-outline"></i> 10
                        AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="mdi mdi-account-remove"></i> User deleted
                                        <span class=" font-size-12 d-inline-block float-right"><i
                                                class="mdi mdi-clock-outline"></i> 07
                        AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="mdi mdi-chart-areaspline"></i> Sales report is ready
                                        <span class=" font-size-12 d-inline-block float-right"><i
                                                class="mdi mdi-clock-outline"></i> 12
                        PM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="mdi mdi-account-supervisor"></i> New client
                                        <span class=" font-size-12 d-inline-block float-right"><i
                                                class="mdi mdi-clock-outline"></i> 10
                        AM</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="mdi mdi-server-network-off"></i> Server overloaded
                                        <span class=" font-size-12 d-inline-block float-right"><i
                                                class="mdi mdi-clock-outline"></i> 05
                        AM</span>
                                    </a>
                                </li>
                                <li class="dropdown-footer">
                                    <a class="text-center" href="#"> View All </a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account -->
                        <li class="dropdown user-menu">
                            <button href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                <img src="../../static/assets/img/user/user.png" class="user-image" alt="User Image"/>
                                <span class="d-none d-lg-inline-block">Abdus Salam</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <!-- User image -->
                                <li class="dropdown-header">
                                    <img src="../../static/assets/img/user/user.png" class="img-circle"
                                         alt="User Image"/>
                                    <div class="d-inline-block">
                                        Abdus Salam <small class="pt-1">abdus@gmail.com</small>
                                    </div>
                                </li>

                                <li>
                                    <a href="profile.html">
                                        <i class="mdi mdi-account"></i> My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="email-inbox.html">
                                        <i class="mdi mdi-email"></i> Message
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="mdi mdi-diamond-stone"></i> Projects </a>
                                </li>
                                <li>
                                    <a href="#"> <i class="mdi mdi-settings"></i> Account Setting </a>
                                </li>

                                <li class="dropdown-footer">
                                    <a href="signin.html"> <i class="mdi mdi-logout"></i> Log Out </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>


        </header>


        <div class="content-wrapper">
            <div id="content">
                <p>事故事件数据过多，在线运行速度慢，建议只选择某天内几个小时的数据进行计算</p>
                <template id="calendar" style="float: left">
                    <div class="block">
                        <span class="demonstration">日期范围选择</span>
                        <el-date-picker
                                v-model="value"
                                type="datetimerange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期">
                        </el-date-picker>
                    </div>
                </template>
                <template id="time_slide">
                    <div class="block">
                        <span class="demonstration">每日时段选择</span>
                        <el-slider v-model="value" range :max="86400" :format-tooltip="formatTooltip"></el-slider>
                    </div>
                </template>
                <template id="support" style="float: left; width: 50%">
                    <div class="block">
                        <span class="demonstration">支持度</span>
                        <el-slider v-model="value" :format-tooltip="formatToolTip"></el-slider>
                    </div>
                </template>
                <template id="confidence" style="float: left; width: 50%">
                    <div class="block">
                        <span class="demonstration">置信度</span>
                        <el-slider v-model="value" :format-tooltip="formatToolTip"></el-slider>
                    </div>
                </template>
                <template id="num_rules">
                    <el-input-number v-model="value" :min="1" label="最大规则数量"></el-input-number>
                </template>

                <template id="wfdd_selections" style="float: left">
                    <el-select
                            v-model="value"
                            clearable
                            multiple
                            collapse-tags
                            style="margin-left: 20px;"
                            placeholder="请选择违法地点">
                        <el-option
                                :label="all"
                                :value="all">
                        </el-option>
                        <el-option
                                v-for="item in options"
                                :key="item"
                                :label="item"
                                :value="item">
                        </el-option>
                    </el-select>
                </template>
                <template id="field_selections" style="float: left">
                    <el-select
                            v-model="value"
                            clearable
                            multiple
                            collapse-tags
                            style="margin-left: 20px;"
                            placeholder="请选择需要分析的字段">
                        <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.key"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </template>
                <el-button id="button" :loading="loading" @click="clc">提交</el-button>
            </div>
            <div>
                <template id="rules">
                    <el-table
                            :data="value"
                            style="width: 100%">
                        <el-table-column
                                sortable
                                prop="premise"
                                label="先决条件 A">
                        </el-table-column>
                        <el-table-column
                                sortable
                                prop="consequence"
                                label="结果 B">
                        </el-table-column>
                        <el-table-column
                                sortable
                                prop="confidence"
                                label="置信度 P(B/A)">
                        </el-table-column>
                        <el-table-column
                                sortable
                                prop="lift"
                                label="提升度 P(A,B)/(P(A)P(B))">
                        </el-table-column>
                        <el-table-column
                                sortable
                                prop="leverage"
                                label="杠杆率 P(A,B)-P(A)P(B)">
                        </el-table-column>
                        <el-table-column
                                sortable
                                prop="conviction"
                                label="确信度 P(A)P(!B)/P(A,!B)">
                        </el-table-column>
                    </el-table>
                </template>
<!--                <div id="graph" style="height: 500px; width: 100%">-->

<!--                </div>-->
                <svg id="svg"></svg>
            </div>

            <script>
                var wfdds = eval( "(" + '${wfdds}' + ")" );
                var fields = new Array();
                fields.push({key:'准驾车型', value:'zjcx'})
                fields.push({key:'当事人', value:'dsr'})
                fields.push({key:'车辆分类', value:'clfl'})
                fields.push({key:'号牌种类', value:'hpzl'})
                fields.push({key:'号牌号码', value:'hphm'})
                fields.push({key:'机动车所有人', value:'jdcsyr'})
                fields.push({key:'使用性质', value:'syxz'})
                fields.push({key:'交通方式', value:'jtfs'})
                fields.push({key:'行政区划', value:'xzqh'})
                fields.push({key:'道路类型', value:'dllx'})
                fields.push({key:'违法地点', value:'wfdd'})
                fields.push({key:'路段代码（或地点米数）', value:'lddm'})
                fields.push({key:'违法行为', value:'wfxw'})
                fields.push({key:'违法记分数', value:'wfjfs'})
                fields.push({key:'罚款金额', value:'fkje'})
                fields.push({key:'发现机关', value:'fxjg'})
                fields.push({key:'处理机关', value:'cljg'})
                fields.push({key:'交款标记', value:'jkbj'})
                fields.push({key:'事故等级', value:'sgdj'})

                var fieldSelections = new Vue({
                    el: "#field_selections",
                    data: {
                        options: fields,
                        value: []
                    }
                })

                var MainSelections = {
                    data() {
                        return {
                            options: wfdds,
                            value: [],
                            all: 'all',
                        }
                    },
                    watch: {

                    }
                }
                var CtorSelections = Vue.extend(MainSelections)
                var wfddSelections = new CtorSelections().$mount('#wfdd_selections')

                var MainCalendar = {
                    data() {
                        return {
                            value: [new Date(2020, 3, 10, 10, 10), new Date(2020, 5, 9, 10, 10)],
                        };
                    },
                    watch: {

                    }
                };
                var CtorCalendar = Vue.extend(MainCalendar);
                var calendar = new CtorCalendar().$mount('#calendar');

                var supportSlide = new Vue({
                    el: "#support",
                    data: {
                        value: 50
                    },
                    methods: {
                        formatToolTip(val) {
                            return val/100;
                        }
                    }
                })
                var confidenceSlide = new Vue({
                    el: "#confidence",
                    data: {
                        value: 50
                    },
                    methods: {
                        formatToolTip(val) {
                            return val/100;
                        }
                    }
                })

                var MainTimeSlide = {
                    data() {
                        return {
                            value: [1, 86400]
                        }
                    },
                    methods: {
                        formatTooltip(val) {
                            var hour = parseInt(val/3600);
                            var minute = parseInt((val%3600)/60);
                            var second = parseInt(val%60);
                            return hour + ':' + minute + ':' + second;
                        }
                    },
                }
                var CtorTimeSlide = Vue.extend(MainTimeSlide)
                var timeSlide = new CtorTimeSlide().$mount('#time_slide')

                var num_rules = new Vue({
                    el: "#num_rules",
                    data: {
                        value: 10,
                    }
                })

                var rules = new Vue({
                    el: "#rules",
                    data: {
                        value: [],
                    }
                })

                var button = new Vue({
                    el: "#button",
                    data: {
                        loading: false
                    },
                    methods: {
                        clc: function() {
                            // this.loading = true;
                            $.ajax({
                                url: "association_ajax",
                                type: "POST",
                                data: {
                                    "time1": calendar.value[0],
                                    "time2": calendar.value[1],
                                    "time_range1": timeSlide.formatTooltip(timeSlide.value[0]),
                                    "time_range2": timeSlide.formatTooltip(timeSlide.value[1]),
                                    "wfdds": wfddSelections.value.indexOf('all') !== -1 ? 'all' : wfddSelections.value.toString(),
                                    "support": supportSlide.value/100,
                                    "confidence": confidenceSlide.value/100,
                                    "num_rules": num_rules.value,
                                    "fields": fieldSelections.value.toString(),
                                },
                                success: function(data) {
                                    rules.value = data;

                                    var links = new Array();
                                    var temp = new Array();
                                    for (var i = 0; i < data.length; i++) {
                                        if (temp.indexOf(data[i].premise === -1)) {
                                            temp.push(data[i].premise);
                                        }
                                        if (temp.indexOf(data[i].consequence === -1)) {
                                            temp.push(data[i].consequence);
                                        }
                                        links.push({
                                            source: data[i].premise,
                                            target: data[i].consequence,
                                            name: data[i].premise + '->' + data[i].consequence,
                                        })
                                    }
                                    temp = Array.from(new Set(temp));
                                    var datas = temp.map(function(a){
                                        var o = new Object();
                                        o.name = a;
                                        o.value = 20;
                                        return o;
                                    });
                                    // var myChart = echarts.init(
                                    //     document.getElementById('graph')
                                    // )
                                    // var option = {
                                    //     tooltip: {
                                    //         show: true,
                                    //         trigger: 'item',
                                    //         formatter(params) {
                                    //             return params.data.name;
                                    //         }
                                    //     },
                                    //     series: [{
                                    //         type: 'graph',
                                    //         layout: 'force',
                                    //         roam: true,
                                    //         symbolSize: (value, params) => {
                                    //             return value;
                                    //         },
                                    //         draggable: true,
                                    //         data: datas,
                                    //         force: {
                                    //             edgeLength: 200,
                                    //             repulsion: 300,
                                    //             // gravity: 0.1
                                    //         },
                                    //         links: links,
                                    //     }]
                                    // };
                                    // myChart.setOption(option);


                                    d3.selectAll("#svg > *").remove();


                                    for (var i = 0; i < links.length; i++) {
                                        links[i].type = 'type';
                                        delete links[i].name;
                                    }
                                    var nodes = new Array();
                                    for (var i = 0; i < datas.length; i++) {
                                        nodes.push({id: datas[i].name});
                                    }
                                    var types = new Array();
                                    types.push('type');
                                    console.log(nodes);
                                    console.log(links);
                                    console.log(types);

                                    height = 600
                                    width = 600
                                    color = d3.scaleOrdinal(types, d3.schemeCategory10)
                                    function linkArc(d) {
                                        const r = Math.hypot(d.target.x - d.source.x, d.target.y - d.source.y);
                                        return 'M' + d.source.x + ',' + d.source.y + 'A' + r + ',' + r + ' 0 0,1 ' + d.target.x + ',' + d.target.y;
                                        // return `
                                        // M${d.source.x},${d.source.y}
                                        // A${r},${r} 0 0,1 ${d.target.x},${d.target.y}
                                        // `;
                                    }
                                    drag = simulation => {

                                        function dragstarted(d){
                                            if(!d3.event.active){//event.active 属性对判断并发的拖拽手势序列中的 start 事件和 end 事件: 在拖拽手势开始时为0，在拖拽结束最后一个手势事件时为0
                                                //这里就是drag的过程中
                                                simulation.alphaTarget(0.8).restart();//设置衰减系数，对节点位置移动过程的模拟，数值越高移动越快，数值范围[0，1]
                                            }
                                            d.fx = d.x;
                                            d.fy = d.y;
                                        }

                                        function dragged(d){
                                            d.fx = d3.event.x;
                                            d.fy = d3.event.y;
                                        }

                                        function dragended(d) {
                                            if (!d3.event.active) {
                                                simulation.alphaTarget(0);
                                            }
                                            d.fx = null;
                                            d.fy = null;
                                        }

                                        return d3.drag()
                                            .on("start", dragstarted)
                                            .on("drag", dragged)
                                            .on("end", dragended);
                                    }
                                    const simulation = d3.forceSimulation(nodes)
                                        .force("link", d3.forceLink(links).id(d => d.id))
                                        .force("charge", d3.forceManyBody().strength(-400))
                                        .force("x", d3.forceX())
                                        .force("y", d3.forceY());

                                    const svg = d3.select("#svg")
                                        .attr("viewBox", [-width / 2, -height / 2, width, height])
                                        .style("font", "12px sans-serif");

                                    // Per-type markers, as they don't inherit styles.
                                    svg.append("defs").selectAll("marker")
                                        .data(types)
                                        .join("marker")
                                        .attr("id", d => `arrow-${d}`)
                                        .attr("viewBox", "0 -5 10 10")
                                        .attr("refX", 15)
                                        .attr("refY", -0.5)
                                        .attr("markerWidth", 6)
                                        .attr("markerHeight", 6)
                                        .attr("orient", "auto")
                                        .append("path")
                                        .attr("fill", color)
                                        .attr("d", "M0,-5L10,0L0,5");

                                    const link = svg.append("g")
                                        .attr("fill", "none")
                                        .attr("stroke-width", 1.5)
                                        .selectAll("path")
                                        .data(links)
                                        .join("path")
                                        .attr("stroke", d => color(d.type))
                                        .attr("marker-end", "url(#arrow-)");



                                    const node = svg.append("g")
                                        .attr("fill", "currentColor")
                                        .attr("stroke-linecap", "round")
                                        .attr("stroke-linejoin", "round")
                                        .selectAll("g")
                                        .data(nodes)
                                        .join("g")
                                        .call(drag(simulation));

                                    node.append("circle")
                                        .attr("stroke", "white")
                                        .attr("stroke-width", 1.5)
                                        .attr("r", 4);

                                    node.append("text")
                                        .attr("x", 8)
                                        .attr("y", "0.31em")
                                        .text(d => d.id)
                                        .clone(true).lower()
                                        .attr("fill", "none")
                                        .attr("stroke", "white")
                                        .attr("stroke-width", 3);

                                    simulation.on("tick", () => {
                                        link.attr("d", linkArc);
                                        // node.attr("transform", d => `translate(${d.x},${d.y})`);
                                        node.attr("transform", d => 'translate(' + d.x + ',' + d.y +')');
                                    });


                                }
                            })
                        }
                    }
                })
            </script>



        </div>
    </div>


</div>

</div>


<script src="../../static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="../../static/assets/plugins/toaster/toastr.min.js"></script>
<script src="../../static/assets/plugins/slimscrollbar/jquery.slimscroll.min.js"></script>
<script src="../../static/assets/plugins/charts/Chart.min.js"></script>
<script src="../../static/assets/plugins/ladda/spin.min.js"></script>
<script src="../../static/assets/plugins/ladda/ladda.min.js"></script>
<script src="../../static/assets/plugins/jquery-mask-input/jquery.mask.min.js"></script>
<script src="../../static/assets/plugins/select2/js/select2.min.js"></script>
<script src="../../static/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.js"></script>
<script src="../../static/assets/plugins/jvectormap/jquery-jvectormap-world-mill.js"></script>
<script src="../../static/assets/plugins/daterangepicker/moment.min.js"></script>
<script src="../../static/assets/plugins/daterangepicker/daterangepicker.js"></script>
<script src="../../static/assets/plugins/jekyll-search.min.js"></script>
<script src="../../static/assets/js/sleek.js"></script>
<script src="../../static/assets/js/chart.js"></script>
<script src="../../static/assets/js/date-range.js"></script>
<script src="../../static/assets/js/map.js"></script>
<script src="../../static/assets/js/custom.js"></script>


<!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>-->


</body>

</html>